%label= content.section_label

- begin
  - text = content.text
- rescue NoMethodError
  - text = ""
 

= find_and_preserve do
  = text_area(text, :name => "gluttonberg::page_localization[contents][#{content.association_name}][#{content.id}][text]", :class => "large tall")