- require_js 'slug_management'
= form_for(@page, :action => action) do  
  = error_messages_for(@page)
  
  = block("General") do
    = text_field(:name, :label => "Name", :id => "page_title")
    = text_field(:navigation_label, :label => "Navigation Label")
    = text_field(:slug, :label => "Slug", :id => 'page_slug')
    - unless @pages.empty?
      = select(:parent_id, :collection => @pages, :value_method => "id", :text_method => "name", :label => "Parent page", :include_blank => true)
    = check_box(:home)
    %label{:for => "page_home", :class => "checkbox"} Set as homepage
  
  - if page_editors?
    = page_editors
  
  = block("Page Description") do
    %p.help
      Page descriptions are used to define how this page behaves. For example,
      all of it’s contents may be editable, or it may be generated dynamically.
      
    - Gluttonberg::PageDescription.all.each do |name, desc|
      = radio_button(:description_name, :value => name)
      %label{:for => "gluttonberg::page_description_name", :class => "inline"}= desc[:label]
   
  = form_controls(slice_url(:pages))
