%tr{:class => cycle(:rows, "odd", "even")}
  %td{:class => "inset#{inset}"}
    = page.home ? "#{page.name} (Home page)" : page.name
  %td.published= "Yes"
  %td.behaviour= page.behaviour.to_s.capitalize
  %td.controls
    %ul
      %li= link_to 'Details', slice_url(:page, page)
      %li= link_to 'Settings', slice_url(:edit_page, page)
      %li= link_to 'Delete', slice_url(:delete_page, page)