%tr{:id => drag_tree_row_id(page), :class => drag_tree_row_class(page)}
  %td
    %span{:class => "#{drag_tree_drag_point_class} #{page.home ? "home" : "page"}"}
      = page.home ? "#{page.name} (Home page)" : page.name
  %td.published= "Yes"
  %td.behaviour= page.behaviour.to_s.capitalize
  %td.controls
    %ul
      %li= link_to 'Details', slice_url(:page, page)
      %li= link_to 'Settings', slice_url(:edit_page, page)
      %li= link_to 'Delete', slice_url(:delete_page, page)