!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      = website_title
      = "- #{@page_title}" if @page_title
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }/
    %meta{ :name => "keywords", :content => "#{meta_keywords}" }/
    %meta{ :name => "description", :content => "#{meta_description}" }/
    %link{:href => gluttonberg_public_path_for(:stylesheet, 'ui.all.css'), :type => "text/css", :charset => "utf-8", :rel => "stylesheet"}/
    %link{:href => gluttonberg_public_path_for(:stylesheet, 'admin.css'), :type => "text/css", :charset => "utf-8", :rel => "stylesheet"}/
    
    
    = css_include_tag('custom.css')    
    = include_required_css
    %script{:src => gluttonberg_public_path_for(:javascript, "jquery-1.2.6.min.js"), :type => "text/javascript", :charset => "utf-8"}
    %script{:src => gluttonberg_public_path_for(:javascript, "jquery.dimensions.min.js"), :type => "text/javascript", :charset => "utf-8"}
    /%script{:src => gluttonberg_public_path_for(:javascript, "jquery.ui.all.min.js"), :type => "text/javascript", :charset => "utf-8"}
    %script{:src => gluttonberg_public_path_for(:javascript, "jquery-ui-1.6.custom.min.js"), :type => "text/javascript", :charset => "utf-8"}
    %script{:src => gluttonberg_public_path_for(:javascript, "jquery.dragTree.js"), :type => "text/javascript", :charset => "utf-8"}    
    %script{:src => gluttonberg_public_path_for(:javascript, "tiny_mce/tiny_mce.js"), :type => "text/javascript", :charset => "utf-8"}
    %script{:src => gluttonberg_public_path_for(:javascript, "html_content.js"), :type => "text/javascript", :charset => "utf-8"}
    %script{:src => gluttonberg_public_path_for(:javascript, "application.js"), :type => "text/javascript", :charset => "utf-8"}
    
    
    = include_required_js
  %body{:id => params[:controller].match(%r{\w+$}), :class => params[:action]}
    %div#sidebar
      %h1= website_title
      %h2#navTitle Navigation
      %ul#navigation
        = main_nav_entry("Dashboard", "dashboard", url(:gluttonberg_admin_root), {:title => "Dashboard"})
        = main_nav_entry("Content", "content", url(:gluttonberg_content), {:title => "Content"})
        = main_nav_entry("Library", "library", url(:gluttonberg_library), {:title => "Library"})  
        - for entry in Gluttonberg::Components.left_nav_entries
          = main_nav_entry(entry[0], entry[0], entry[1], {:title => entry[0] , :id => Extlib::Inflection.underscore(entry[0].to_s).gsub(/\s/, '_') + "Nav"})
        = main_nav_entry("Settings", "settings", url(:gluttonberg_settings), {:title => "Settings"})
      - if session.user
        %p
          Logged in as
          %br/
          %strong= session.user.name
          %a{:href => url(:gluttonberg_logout) , :title => "Logout"} logout
    %div
      &nbsp;
    %div#wrapper
      %h2#pageTitle= @page_title || "No title set"
      = contextual_help
      = catch_content(:for_layout)
