= sub_nav do
  = back_link("Settings", slice_url(:settings))
  = back_link("Meta Data", slice_url(:generic_settings))
  
= form_for(@setting, :action => action) do
  = error_messages_for(@setting)  
  
  = block("Setting") do
    - if @setting.delete_able
      = text_field(:name, :label => "Setting Name")      
      %br        
      = text_area(:value, :label => "Setting Value" , :class => "large tall")
      %br        
      = text_area(:help, :label => "Help" , :class => "large tall")    
    - else      
      = text_area(:value, :label => @setting.name.capitalize, :class => "large tall")      
    
    %small= @setting.help
    = check_box(:enabled)
    = label( :for => "enabled", :class => "checkbox" , :title=> "Enabled" )
    %br
      
  = form_controls(slice_url(:generic_settings))
