= form_for(@setting, :action => action) do
  = error_messages_for(@setting)  
  
  = block("Setting") do
    - if @setting.delete_able
      = text_field(:name, :label => "Setting Name")      
      %br        
      = text_area(:value, :label => "Setting Value" , :class => "large tall")
    - else      
      = text_area(:value, :label => @setting.name.capitalize, :class => "large tall")
    
    %br
      
  = form_controls(slice_url(:generic_settings))
