/- require_js 'slug_management'
%script{:src => gluttonberg_public_path_for(:javascript, "slug_management.js"), :type => "text/javascript", :charset => "utf-8"}

= form_for(@page_localization, :action => action) do
  = error_messages_for(@page_localization)
  = block("Localization") do
    = text_field(:name, :label => "Name", :id => "page_title")    
    %br
    = text_field(:navigation_label, :label => "Navigation Label" )
    %br
    = text_field(:slug, :label => "Slug", :id => 'page_slug')
    
  = block("Content") do
    - for content in @page_localization.contents
      = content_editor(content)
      %br
  
  = form_controls(slice_url(:page, params[:page_id]))