- @page_title = "Asset - #{@asset.name}"
= sub_nav do
  = back_link("Library", slice_url(:library))
  = nav_link("Delete", slice_url(:delete_asset, @asset))
  = nav_link("Edit", slice_url(:edit_asset, @asset))
  
%h2= @asset.name
%p{:id => "categoryAndType", :class => @asset.category}
  = h(@asset.asset_type.name)

- unless @asset.description.blank?
  %p#description= @asset.description

%div#preview
  %img{:src => @asset.thumb_large_url}
    
%h3 Metadata
%dl
  %dt Category
  %dd= h(@asset.asset_type.asset_category.name.capitalize)
  %dt Type
  %dd= h(@asset.asset_type.name)
  %dt Filesize
  %dd= h(@asset.size)
  %dt Filename
  %dd= h(@asset.file_name)
  %dt Mime type
  %dd= h(@asset.mime_type)
  
- unless @asset.collections.empty?
  %h3 Collections
  %ul.collections
    - for collection in @asset.collections
      %li= h(collection.name)

%h3 Updates
%dl
  %dt Created
  %dd= @asset.created_at.formatted(:long)
  %dt Updated
  %dd= @asset.updated_at.formatted(:long)
  